.day-picker {
    font-family:Arial;
}

.day-picker > div {
    height:75px;
    width:2250px;
    transform: translateX(0);    
}

.day-picker > div > div {
    position:relative;
    display:inline-block;
    float:left;
    width:75px;
    cursor:pointer;
    height:75px;
    background-color:#ccc;
    span {
        text-align:center;
        display:block;
    }    
    margin:0 5px;
}

.day-picker > div > div > span:first-child {
    margin-top:10px;
    font-weight:800;
}

.day-picker {
    width: 100%;
    height: 150px;
    overflow: hidden;
    display:block;
}